<!DOCTYPE html>
<html>
  <head>
    <title>Musik Kloud</title>
  </head>
  <body>
    <h1>Welcome to my awesome web application</h1>
    <p1>Made by Sam, Sam, Alex</p1>
      <div id="mainbox">
      </div>
  </body>

</html>
